:root {
    --green-color: #7fad39;
    --text-color: #666666;
    --white-color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Cairo", sans-serif;
    scroll-behavior: smooth;
}
