
.grid-width {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid-full-width {
    width: 100%;
}

/* Common */
.mr-10 {
    margin-right: -10px;
}

.ml-10 {
    margin-left: -10px;
}

.mt-80 {
    margin-top: 80px;
}

/* Start header */

.header {
    height: 48px;
    line-height: 48px;
    background-color: #f5f5f5;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__top-item {
    list-style: none;
    font-size: 1.4rem;
    display: inline-block;
    padding: 0 10px;
    font-weight: 100;
    position: relative;
}

.header__top-item-bar::before {
    content: "";
    height: 20px;
    width: 1px;
    border-left: 1px solid #ddd;
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
} 


.header__top-item a {
    text-decoration: none;
    color: var(--text-color);
}

.item-bold {
    font-weight: 800;
} 

.container__nav{
    position: relative;
    height: 80px;
}

.header__logo img {
    padding: 15px 0;
}
.header__logo,
.header__menu,
.header__cart {
    line-height: 80px;
    height: 100%;
}

.header__menu-nav {
    list-style: none;
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    position: relative;
}

.header__menu-nav:hover > a,
.header__menu-nav .header__menu-subnav li:hover a{
    color: var(--green-color);
}

.header__menu-nav + .header__menu-nav {
    margin-left: 50px;
}

.header__menu-nav a {
    transition: all 0.3s;
    text-decoration: none;
    color: var(--text-color);
}

.header__menu-nav:hover .header__menu-subnav{
    visibility: inherit;
    top: 50px;
    opacity: 1;
}


.header__menu-subnav {
    position: absolute;
    width: 180px;
    padding: 10px 0;
    line-height: 1.5;
    top: 90px;
    left: 0;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
}

.header__menu-subnav li {
    list-style: none;
    background: #222;
    display: block;
    padding: 10px;
}

.header__menu-subnav li a {
    color: #fff;
    font-weight: 300;
    font-size: 1.4rem;
    text-transform: capitalize;
}

.header__cart-icon {
    font-size: 2rem;
    position: relative;
}

.sub-icon-one,
.sub-icon-two {
    position: absolute;
    top: 50%;
    right: 60%;
    font-size: 1.2rem;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translateY(-170%);
    background-color: var(--green-color);
    text-align: center;
    color: var(--white-color);
}

.sub-icon-two {
    top: 50%;
    right: 10%;
}
.space-icon + .space-icon {
    margin-left: 10px;
}

.header__cart-price {
    font-size: 1.3rem;
}
/* End header */

/* Start content */
.container-category__all-header {
    padding: 16px 25px 16px 40px;
    background-color: var(--green-color);
}

.container-category__all-header ul li {
    list-style: none;
    display: inline-block;
    font-size: 1.6rem;

}

.container-category__all-header ul li a {
    text-decoration: none;
    color: var(--white-color);
}

.container-category__all-body,
.category__search-header-input {
    border: 1px solid #ebebeb;
}

.container-category__all-body ul {
    padding: 10px 0 12px 40px;
}

.container-category__all-body ul li {
    list-style: none;
    font-size: 1.6rem;
    line-height: 39px;
} 

.container-category__all-body ul li:hover a{
    color: var(--green-color);
}

.container-category__all-body ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s;
}

/* Section category */

.container-category__search-header {
    height: 49px;
    margin-bottom: 30px;
}

.category__search-header-input {
    width: 70%;
    float: left;
}

.category__search-header-input .input__item{
    line-height: 49px;
    
}

.full-height {
    background-color: var(--green-color);
    color: var(--white-color);
}

.category__search-header-input .input__item{
    display: inline-block;
    font-size: 1.6rem;
    margin-left: 10px;
    
}

.input__item + .input__item + .input__item + .input__item {
    background-color: var(--green-color);
    text-align: center;
    padding: 0 24px;
    color: var(--white-color);
    float: right;
    height: 49px;
    cursor: pointer;
    font-size: 1.4rem;
}

.search {
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    border-left: 1px solid #ebebeb;
    padding-left: 10px;
}

.category__search-header-phone {
    width: 30%;
    float: left;
}

.search-header-phone__icon {
    width: 45%;
    float: left;
    font-size: 4.5rem;
    text-align: right;
    color: var(--green-color);
}
.search-header-phone__text {
    float: left;
    font-size: 1.4rem;
    width: 55%;
    text-align: right;
}
/* End category */

.container-category__search-body {
    background: url("../img/banner.jpg.webp") center / cover no-repeat;
    position: relative;
    padding-top: 50%;
}

.search-body__text {
    position: absolute;
    left: 75px;
    top: 50%;
    transform: translateY(-50%);
}

.search-body__text span {
    font-size: 1.4rem;
    color: var(--green-color);
    letter-spacing: 4px;
    font-weight: 600;
}

.search-body__text h2 {
    font-size: 4.5rem;
    line-height: 5.2rem;
    font-weight: 600;

}

.search-body__text p {
    font-size: 1.6rem;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 35px;
}

.search-body__text a {
    display: inline-block;
    font-size: 1.4rem;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
    text-decoration: none;
}

/* Silde Show */
.container__silde {
    overflow: hidden;
}

.container__full-width {
    width: 100%;
    position: relative;
    display: inline-flex;
    animation: slide 18s ease infinite;
}

@keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -300px;}
    50% {margin-left: -300px;}
    60% {margin-left: -600px;}
    80% {margin-left: -600px;}
    90% {margin-left: -1200px;}
    110% {margin-left: -1200px;}
}

.item-product__img {
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 50%;
    height: 300px;
    position: relative;
}

.sale__off {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #d22;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.item-product__img h5 {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 20px;
    bottom: 20px;
    text-align: center;
}

.item-product__img h5 a {
    font-size: 1.6rem;
    color: #1c1c1c;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 0 10px;
    background: #ffffff;
    display: block;
    text-decoration: none;
}
/* End silde*/

/* Start product ido */
.product-ido {
    text-align: center;
}

.product-ido__header {
    font-size: 3.6rem;
    color: var(--text-color);
    font-weight: 800;
    margin-bottom: 50px;
    position: relative;
}

.product-ido__header--barbottom::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -150%;
    right: 50%;
    transform: translateX(50%);
}

.product-ido__body {
    margin-bottom: 50px;
}

.product-ido__body .product-ido-item {
    list-style: none;
    display: inline-block;
    position: relative;
}

.product-ido__body--barbottom::before {
    content: "";
    width: 100%;
    height: 2px;
    /* border-radius: 50%; */
    background-color: var(--green-color);
    position: absolute;
    bottom: -5px;
    left: -50%;
    right: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.35s;
} 


.product-ido__body--barbottom:hover::before{
    visibility: inherit;
    left: 50%;
    opacity: 1;
    
}

.product-ido__body .product-ido-item a {
    color: var(--text-color);
    font-size: 2rem;
    text-decoration: none;
}

.product-ido-item + .product-ido-item{
    margin-left: 30px;
}

/* End product ido */

/* Start list product */

.list-product__item {
    margin-bottom: 50px;
    cursor: pointer;
}

.list-product__item-header {
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 50%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.list-product__item-header ul {
    width: 100%;
    text-align: center;
    position: absolute;
    right: 50%;
    bottom: -50px;
    transform: translate(50%);
    transition: all 0.5s;
    opacity: 0;
}

.list-product__item:hover .list-product__item-header ul{
    opacity: 1;
    visibility: inherit;
    bottom: 30px;
    cursor: pointer;
}

.list-product__item-header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 6px;
}

.list-product__item-header ul li a {
    font-size: 16px;
    color: #1c1c1c;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
    display: block;
    border-radius: 50%;
}

.list-product__item-header ul li:hover a{
    transform: rotate(1turn);
    background: var(--green-color);
    border-color: var(--green-color);
    color: var(--white-color);
    transition: all 0.35s;
}

.list-product__item-body-title {
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 1.2;
    font-weight: 300;
    text-align: center;
    display: block;
    text-decoration: none;
}

.list-product__item-body-price {
    text-align: center;
    display: block;
    font-weight: 800;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.2;
    margin-top: 10px;
}

/* End list product */

/* Start procduct new */
.product-new-item {
    overflow: hidden;
    padding-top: 5px;
}

.product-new-item__header {
    font-size: 2.4rem;
    color: var(--text-color);
    margin-bottom: 45px;
    font-weight: 700;
}

.product-new-item__body {
    width: 3000px;
}

.product-new-item__slide {
    display: inline-flex;
    width: 100%;
    animation: slideNew 10s ease infinite;
}

@keyframes slideNew {
    20%{margin-left: 0;}
    40%{margin-left: -400px;}
    60%{margin-left: -400px;}
}
.product-new-item__body__slide {
    width: 400px;
    max-width: 100%;
}

.product-new-item__body__slide__sub {
    margin-bottom: 20px;
}

.product-new-item__body__slide__desc {
    display: inline-block; 
    transform: translateY(-120%);
}

.product-new-item__body__slide__desc > span {
    text-align: left;
}

.product-new-item__body__slide__sub img {
    width: 110px;
    max-width: 100%;
    height: 100%;
    margin-right: 20px;
}

/* End product new */
/* Start Blog */
.container__blog {
    margin: 50px 0;
}

.container-blog__header {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: var(--text-color);
    position: relative;
    margin-bottom: 50px;
}

.container-blog__header--barbottom::before {
    content: "";
    height: 5px;
    width: 100px;
    background-color: var(--green-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

.container-blog__body--bottom {
    border-bottom: 1px solid #ebebeb;
}

.container-blog-body__item__img img {
    width: 100%;
}

.container-blog-body__item__text {
    margin-top: 10px;
    color: var(--text-color);

}

.container-blog-body__item__text ul{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.container-blog-body__item__text ul li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.container-blog-body__item__text a {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4rem;
    text-decoration: none;
    color: var(--text-color);
    min-height: 48px;
    display: inline-block;
}

.container-blog-body__item__text p {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    margin-top: 10px;
    min-height: 180px;
}

.container-blog-body__item__btn {
    width: 140px;
    height: 50px;
    color: var(--text-color);
    outline: none;
    border: 1px solid var(--text-color);
    border-radius: 50px;
    background-color: var(--white-color);
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.3s;
}

.container-blog-body__item__btn a {
    text-decoration: none;
    text-transform: uppercase;
}

.container-blog-body__item__btn:hover{
    background-color: var(--green-color);
    color: var(--white-color);
    border: 1px solid var(--green-color);
}

.container-blog-body__item--bottom {
    margin-bottom: 50px;
}

.container-blog-page {
    margin-top: 30px;
}

.container-blog-page span{
    width: 30px;
    height: 30px;
    color: #b2b2b2;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    transition: all 0.3s;
    cursor: pointer;
}

.container-blog-page span:hover {
    color: var(--white-color);
    background-color: var(--green-color)
}
/* End Blog */
/* End content */

/* Start Footer */
.footer {
    background-color: #f3f6fa;
    padding: 70px 0;
}

.footer__container {
    position: relative;
}

.footer__container--bar::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    bottom: -50px;
}

.footer__container__items__item ul li{
    list-style: none;
    font-size: 1.6rem;
    line-height: 3.6rem;
}

.footer__container__items__item ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s;
}

.footer__container__items__item--infor h3{
    font-size: 1.6rem;
    margin-bottom: 10px;
    margin-left: 4px;
}

.footer__container__items__item--infor ul{
    width: 50%;
    float: left;
}

.footer__container__items__item--infor ul li a {
    line-height: 32px;
    color: var(--text-color);
    font-size: 1.4rem;
    margin-left: 4px;
    transition: all 0.3s;
}

.footer__container__items__item ul li:hover a,
.footer__container__items__item--infor ul li:hover a {
    color: var(--green-color);
}

.footer__container__items__item--put h3{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.footer__container__items__item--put p {
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 3rem;
    margin-bottom: 30px;
}

.footer__container__items__item--put form {
    margin-bottom: 30px;
    border: 1px solid #ebebeb;
}

.footer__container__items__item--put input {
    height: 46px;
    width: 100%;
    border: none;
    outline: none;
    position: relative;
    padding-left: 25px;
}

.footer__container__items__item--put {
    position: relative;
}

.footer__container__items__item--put button {
    position: absolute;
    right: 0;
    height: 46px;
    padding: 0 26px;
    background-color: var(--green-color);
    color: var(--white-color);
    line-height: 46px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.footer__container__items__item--put ul li {
    display: inline-block;
}

.footer__container__items__item--put ul li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    display: block;
    line-height: 40px;
    text-align: center;
    transition: all 0.3s;
}

.footer__container__items__item--put ul li:hover a{
    background-color: var(--green-color);
    border-color: var(--green-color);
    color: var(--white-color);
    transform: rotate(1turn);
}

/* End Footer */


/* All */
.container__banner {
    background-image: url('../img/breadcrumb.jpg.webp');
    background-repeat: no-repeat;
    height: 150px;
    position: relative;
}

.container__info-product {
    position: absolute;
    height: 100%;
    right: 50%;
    transform: translateX(50%);
}

.container__heading {
    text-align: center;
    color: var(--white-color);
    margin: 35px auto;
}

.container__title {
    font-size: 4.6rem;
    color: var(--white-color);
    padding: 20px 0;
}

.container__text {
    text-align: center;
}

.container__link {
    font-size: 1.6rem;
    color: var(--white-color);
    text-decoration: none;
    margin: 0 10px;
}

.container__desc {

}

.container__image img{
    width: 100%;
}

.container__slide {
    margin-top: 20px;
}

.container__slide__item img{
    width: 100%;
}


.container__lable {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 20px;
}

.container__id {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 20px;
}

.container__id span {
    color: #d22;
}

.container__price {
    color: #d22;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 20px;
}

.container__status {
    font-size: 1.6rem;
    color: #6f6f6f;
    line-height: 2.6rem;
    margin-bottom: 42px;
}

.container__quantity {
    display: flex;
    height: 50px;
}

.quantity {
    width: 120px;
    background-color: #f5f5f5;
}

.quantity-pro {
    height: 100%;
    display: flex;
    align-items: center;
}

.quantity-sub {
    font-size: 1.6rem;
    width: 40px;
    display: block;
    float: left;
    cursor: pointer;
    text-align: center;
}

.quantity-sub-default {
    color: #d22;
    cursor: text;
}

.container__btn {
    height: 100%;
    color: var(--white-color);
    background-color: var(--green-color);
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    padding: 0 20px;
    margin-left: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.quantity__icon {
    display: block;
    border: 1px solid #ebebeb;
    height: 100%;
    width: 50px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
    background-color: #f5f5f5;
}

.container__modify > ul {
    margin-top: 50px;
    padding-top: 40px;
    border-top: 1px solid #ebebeb;
}

.container__modify ul li {
    list-style: none;
    font-size: 1.6rem;
    line-height: 4rem;

}

.container__modify ul li span:nth-child(1) {
    width: 50%;
    float: left;
    font-weight: 700;
}

.icon__link li{
    text-decoration: none;
    display: inline-block;
    font-size: 1.8rem;
    margin-right: 15px;
}

.desc__items {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 50px 0;
}

.desc__item:nth-child(1)::after {
    content: "";
    width: 33%;
    height: 1px;
    background-color: #ebebeb;
    position: absolute;
    left: 0;
    top: 50%;
}

.desc__item:nth-child(3)::before {
    content: "";
    width: 33%;
    height: 1px;
    background-color: #ebebeb;
    position: absolute;
    right: 0;
    top: 50%;
}

.desc__item a {
    font-size: 1.8rem;
    color: #999;
    font-weight: 700;
    text-decoration: none;
    line-height: 3.6rem;
    margin: 0 30px;
    transition: all 0.3s;
}

.desc__item a:hover {
    color: var(--text-color);
}

.desc__heading h3 {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.desc__heading p {
    font-size: 1.6rem;
    color: #6f6f6f;
    line-height: 2.6rem;
    margin-bottom: 16px;
}

/* ----------------------------------------------------------- */
/* SECTION CONTACT */

.container__contact {
    padding: 80px 0 50px 0;
}

.container__contact-item {
    text-align: center;

}

.container__contact-icon {
    font-size: 3.6rem;
    color: var(--green-color);
}

.container__contact-heading {
    font-size: 2rem;
    font-weight: 800;
    color: var(--text-color);
    padding: 25px 0;
}

.container__contact-text,
.container__contact-link,
.container__map-body,
.container__adress{
    font-size: 1.6rem;
    color: #666666;
    text-decoration: none;
}

.container__map {
    position: relative;
}

.container__map-pro {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white-color);
    box-shadow: 0 0 20px 5px rgb(12 7 26 / 15%);
    text-align: center;
    padding: 25px 0;
}

.container__map-pro::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    border-width: 25px 10px;
    border-style: solid;
    border-color: var(--white-color) transparent  transparent transparent;
}

.container__map-icon {
    position: absolute;
    left: 50%;
    bottom: -80px;
    font-size: 4rem;
    transform: translateX(-50%);
    color: var(--green-color);
}

.container__map-desc {
    font-size: 1.6rem;
}

.container__map-header {
    font-weight: 800;
}

.container__map-header,
.container__map-body,
.container__adress {
    padding: 10px 20px;
}

.container--space {
    padding: 80px 0;
}

.container h1 {
    font-size: 3.6rem;
    font-weight: 880;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 50px;
}


.container__message input,
.container__email input,
.container__name input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    color: #666666;
    font-size: 1.6rem;
    outline: none;
    border: none;
    border: 1px solid #ebebeb; 
    border-radius: 2px;
    margin-bottom: 30px;
}


.container__email input:focus,
.container__name input:focus,
.container__message input:focus {
    border-color: var(--text-color);
    border-radius: 2px;
}

.container__message--height input{
    padding: 25px 0 150px 20px;
}

.container__press {
    text-align: center;
}

.container__btn-sub {
    font-size: 1.8rem ;
    background-color: var(--green-color);
    color: var(--white-color);
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
}

/* Section blog */
.container__blog {
    margin-top: 100px;
}

.container__left {
    width: 100%;
}

.container__left-input {
    position: relative;
    width: 100%;
    height: 46px;
    border: 1px solid #ebebeb;
    outline: none;
    font-size: 1.6rem;
    border-radius: 50px;
    padding-left: 20px;
}


.container__left-category,
.container__left-news {
    margin-top: 50px;
}

.container__left-category h3,
.container__left-news h3,
.container__left-search h3{
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
}

.container__left-category ul li {
    list-style: none;
    margin-top: 40px;
}

.container__left-category ul li:hover a {
    color: var(--green-color);
}

.container__left-category ul li a {
    font-size: 1.6rem;
    color: #666666;
    text-decoration: none;
    transition: all 0.3s;
}

.container__left-news {

}   

.container__left-new {
    margin-top: 30px;
    display: flex;
    justify-content: none;
}

.container__left-img {
    width: 70px;
}

.container__left-text {
    font-size: 1.4rem;
    margin-left: 30px;
}   

.container__left-heading {
    font-weight: 800;
    text-decoration: none;
    color: var(--text-color);
}

.container__left-date {
    color: #666666;
    line-height: 2.4rem;
}

.container__left-search {
    margin-top: 48px;
}

.container__left-search h3 {
    margin-bottom: 40px;
}

.container__left-link {
    text-decoration: none;
    padding: 10px 25px;
    font-size: 1.4rem;
    color: #666666;
    background-color: #f5f5f5;
    display: inline-block;
    margin-bottom: 10px;
}

.container__left-link + .container__left-link {
    margin-left: 5px;
}


/* Container Shop */

.container__shop-heading {
    font-size: 2rem;
    font-weight: 800;

}

.container__shop-list {
    margin-top: 40px;
}

.container__shop-item {
    list-style: none;
    line-height: 3.6rem;
}

.container__shop-item:hover a {
    color: var(--green-color);
}

.container__shop-item a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.6rem;
    transition: all 0.3s;
}

.container__shop-heading {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 65px;
    position: relative;
}

.container__shop-navbar::before {
    content: "";
    width: 120px;
    height: 5px;
    position: absolute;
    background-color: var(--green-color);
    left: 0;
    bottom: -20px;
    transform: translateX(12%)
}

.container__shop-bar {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 50px;
}






